# Node.js
node_modules/

# ScyllaDB
*.db

# Environment variables
.env

# Editor/IDE specific files
.vscode/
.idea/
*.swp

# Logs
*.log

# Dependency lock files
package-lock.json
yarn.lock

# OS-specific files
.DS_Store
Thumbs.db
